#wrapper { width: 1000px; margin: 0 auto; }
body {background-color: rgb(147, 147, 146);}
button {
    font-weight: bold;
    background-color: #cf900a;
    display: inline-block;
    text-decoration: none;
    border-radius:3px;
    color: black;
    border-color: black;
    font-family: Arial;
    border-style: ridge;
}
input {
    margin: 8px 0;
    box-sizing: border-box
}
.Note {
    text-align: center;
    color: black;
    font-weight: bold;
    text-decoration: underline;
    margin: 12px;
}
input {
    width: 150px;
    border: 5px solid #ddd;
    border-radius: 3px;
    outline: 0;;
    padding: 7px; 
    background-color: #fff;
}