<!---Initialize Home Page--->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
        <link rel = "stylesheet" href="../static/styles/styles.css">
        <style>
            div {text-align:center;}
        </style>
    </head>
    <body>
        <div id = "wrapper">
            <!---Initialize structure of Title and house picture--->
            <div class = "title">
                <h1>MLB Wins Predictor</h1>
                <img src="https://media.istockphoto.com/photos/baseball-days-picture-id1314816874?b=1&k=20&m=1314816874&s=170667a&w=0&h=nGrSguY-vQ0hg3RElMk_vvtD7YKro_0qnBd_Shz5bjs=" class="house"/>
            </div>
            <!---Containerize main page for styling--->
            <div class = "page">
                <!---Containerize paragraph and form for styling--->
                <div class = "container">
                    <div class = "intro">
                        <b>
                            <p class = "Note"><b>Please enter values consistent with statistical measurement. All statistics other than HR + RBIs will be in .### format. At this time, it is required that you enter all fields before pressing "predict".</b></p>
                        </b>
                    </div>
                    <br>
                    <!---Initialize form structure and inputs, set method to "POST"--->
                    <form action = "{{url_for('predict')}}" method = "post" class = "info">
                        <input type="text" id="hr" name="Homeruns" placeholder="HR" required="required"/><span style="color:red"> * </span>
                        <br>
                        <br>
                        <input type="text" id="rbi" name="RBI" placeholder="RBIs" required="required"/><span style="color:red"> * </span>
                        <br>
                        <br>
                        <input type="float" id="iso" name="ISO" placeholder="ISO" required="required"/><span style="color:red"> * </span>
                        <br>
                        <br>
                        <input type="float" id="babip" name="Batting AVG on Balls in Play" placeholder="BABIP"/><span style="color:red" required="required"> * </span>
                        <br>
                        <br>
                        <input type="float" id="avg" name="Batting Average" placeholder="AVG"/><span style="color:red" required="required"> * </span>
                        <br>
                        <br>
                        <input type="float" id="obp" name="On Base Percentage" placeholder="OBP"/><span style="color:red" required="required"> * </span>
                        <br>
                        <br>
                        <input type="float" id="slg" name="Slugging Percentage" placeholder="SLG"/><span style="color:red" required="required"> * </span>
                        <br>
                        <br>
                        <input type="float" id="woba" name="wOBA" placeholder="wOBA"/><span style="color:red" required="required"> * </span>
                        <br>
                        <br>
                        <input type="int" id="wrc" name="Weighted Runs Created" placeholder="wRC"/><span style="color:red" required="required"> * </span>
                        <br>
                        <br>
                        <input type="int" id="war" name="Wins Above Replacement" placeholder="WAR"/><span style="color:red" required="required"> * </span>
                        <br>
                        <br>
                        <button type="submit" class="btn">Predict</button>
                    </form>
                    <br> 
                    <!---Set placeholder for prediction output--->
                    <div class ="pred">
                        <p class = "result"><b>{{ prediction_text }}</b></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>